/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_21,_3_22_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_21,_3_22_PM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_21__3_22_PM__Default_Changelist_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_21,_3_22_PM_[Default_Changelist]/shelved.patch
