/target/classes/view/ChangeIterationsPanel.class
/target/classes/model/ColorEncoder$1.class
/target/classes/model/ColorEncoder.class
/target/classes/model/ColorMode.class
/target/classes/view/ColorSettingsPanel.class
/target/classes/IO/DataStorage.class
/target/classes/view/DataStoragePanel.class
/target/classes/model/FractalSet.class
/target/classes/model/FractalSetCalculator$1.class
/target/classes/model/FractalSetCalculator.class
/target/classes/view/FractalSetPanel.class
/target/classes/controller/Main.class
/target/classes/controller/MandelbrotController.class
/target/classes/view/MandelbrotGuiFrame.class
/target/classes/model/MandelbrotSet$ImagePanel.class
/target/classes/model/MandelbrotSet.class
/target/classes/view/MoveButtonsPanel.class
/target/classes/model/PositionAndSettings.class
